<div *ngFor="let question of questions.questions; let i = index">
  <p>Question {{i + 1}}: </p>
  <h3>{{question.text}}</h3>
  <!-- <p>{{question.</p> -->
  <!-- <hr> -->
  <div *ngIf="question.type === 'number'">
    <app-number-question [min]="question.min" [max]="question.max" (numberChanged)="reviceNewNumber($event)" [index]="i"></app-number-question>
  </div>
  <div *ngIf="question.type === 'select'">
    <app-select-question [options]="question.options" [index]="i"></app-select-question>
  </div>
  <div *ngIf="question.type === 'yesno'">
    <app-yesno-question [index]="i"></app-yesno-question>
  </div>
  <div *ngIf="question.type === 'multiselect'">
    <app-multiselect-question [options]="question.option" [max]="question.max" [index]="i"></app-multiselect-question>
  </div>
  <hr>
</div>
<button class="btn btn-success" type="submit" (click)="onComplete()">Complete</button>