<div class="container">
    <form [formGroup]="numberGroup">
        <input class="form-control" style="width:100px;" type="number" formControlName="answer"  [pattern]="'^[1-9]+[0-9]*$'">
        <span style="color: red" *ngIf="numberGroup.get('answer').value === ''">You must enter an number</span>
        <span *ngIf="!numberGroup.get('answer').valid && numberGroup.get('answer').touched" class="help-block">
            <p style="color: red" *ngIf="!numberGroup.get('answer').valid  && numberGroup.get('answer').touched">Answer Invalid</p>
            
           
            <span style="color: red" *ngIf="numberGroup.get('answer').value > max">You must enter a smaller number</span>
            <span style="color: red" *ngIf="min > numberGroup.get('answer').value ">You must enter a bigger number</span>
        </span>
        <span style="color:green" *ngIf="numberGroup.get('answer').valid && numberGroup.get('answer').touched">Valid Answer </span>
    </form>
    <p>Min: {{min}} / Max: {{max}} </p>
</div>